:root {
  --accent: rgb(69, 69, 69);
  --secondary-accent: rgb(120,120,120);
}
.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 12px;  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}

* {
  margin: 0;
  padding: 0;
  font-family: "PT Mono", monospace;
  line-height: 30px;
  font-weight: 400;
}

/* Removes MJX plugin artifacts */
.MJX_ToolTip, .MJX_LiveRegion, .MJX_HoverRegion {
  display: none;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-image: url('../images/calculus/background.webp');
  background-size: cover;
  overflow-x: hidden;
  position: relative;
  margin: 0;
}

/* NAVIGATION */

.nav-container {
  position: absolute;
  display: flex;
  font-size: 14px;
  height: 80px;
  top: 0;
}

.navbar {
  margin: auto;
  padding: 0.5rem 1.5rem;
  background: #000;
  border-radius: 1rem;
  border: 4px solid var(--accent);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.nav-links {
  display: flex;
  gap: 2rem;
  color: white;
}

.nav-link, .drop-down li {
  list-style: none;
  height: 100%;
  padding: 0.5rem 1rem;
  font-weight: 600;
  cursor: pointer;
}

a {
  text-decoration: none;
  color: currentColor;
  font-size: 20px;
}

.drop-down {
  position: absolute;
  padding: 4px 4px 4px 4px;
  margin: 0.5rem -0.5rem;
  background: black;
  color: white;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  border-radius: 0.5rem;
  font-size: 12px;
  display: none;
  border: 2px solid var(--secondary-accent);
  z-index: 99;
}

.nav-link:hover {
  background-color: var(--accent);
  border-radius: 0.5rem;
}

.services:hover .drop-down {
  display: block;
}

.services a {
  display: flex;
  align-items: center;
  width:100%;
  height:100%;
}

.services .dropdown-icon {
  font-size: 18px;
  position: relative;
  right: -5px;
  transform: rotate(0deg);
  transition: 0.3s ease-in-out all;
}

.services:hover .dropdown-icon {
  transform: rotate(180deg);
}

.drop-down li {
  background: #333;
  color: #fff;
  border-radius: 0.5rem;
  font-size: 12px;
  margin-top: 4px;
 }

.drop-down li:hover {
  background: #444;
}

/* BANNER */

.vertical-banner {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  
  height: 80%;
  width: 80%;
  z-index: -1;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  border: 4px solid var(--accent);
  border-radius: 5px;
  background-color: black;
  color: #fff;
  padding: 12px 12px 12px 12px;
}

.vertical-banner h1 {
  width: 100%;
  text-align: center;
}

.vertical-banner p span {
  text-align: center;
  justify-content: center;
}